# MySQL 設定
MYSQL_ROOT_PASSWORD=root_password_here
MYSQL_DATABASE=flightprice
MYSQL_USER=flightprice
MYSQL_PASSWORD=password_here
MYSQL_PORT=3306
MYSQL_HOST=db

# Flask 設定
FLASK_PORT=5000
FLASK_DEBUG=0

# Skyscanner 設定
SKYSCANNER_API_KEY=your_api_key_here
